body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

.plans {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: stretch;
}

.plan {
    width: 400px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: lightgray;
}


.plan.enterprise.badge {
    
}

.badge {
    position: absolute;
    width: 400px;
    height: 40px;
}

.intro-plan {
    height: 100px;
    text-align: center;
}

.white-block {
    position: relative;
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-plan {
    
}

.payment {
    display: flex;
    padding-top: 50px;
    padding-bottom: 25px;
}

.dollar {
    font-size: 20px;
}

.num {
    font-size: 50px;
}

.usd {
    font-size: 25px;

}

.btn {
    box-sizing: border-box;
}

.btn.free {
    width: 350px;
    height: 50px;
}

.btn.team {
    width: 350px;
    height: 50px;
}

.btn.enterprise {
    width: 170px;
    height: 50px;
}

.btn-enterprise-block {
    display: flex;
    gap:25px
}

.list {
    
}